*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  font-family: Courier New, Monospace;
  font-size: 14px;
  color: #fffffe;
  background-color: #16161a;
  
}

body {
  margin: 0 auto;
}

nav {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 50px;
  overflow: hidden;
}

nav a {
  color: #fffffe;
  padding-left: 1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

nav a:hover {
  color: #2cb67d;
  text-decoration: underline;
}

main {
  width: 75vw;
  margin: 0 auto;
}

section {
  margin-top: 100px;
}

.Heading {
  height: 300px;
}

.Heading h1 {
  text-transform: uppercase;
  font-size: 45px;
}

.Heading h2 {
  text-transform: lowercase;
  font-size: 32px;
  color: #94a1b2;
}

.team {
  height: 500px;
  width: 100%;
  display: flex;
  font-size: 24px;
  
}

.team h2{
  font-size: 24px;
  margin: 0 auto;  
}

.bat {
  background-image: url("https://static.vecteezy.com/system/resources/previews/067/220/278/non_2x/bat-hanging-upside-down-on-transparent-background-free-png.png");
     background-size: contain;
  background-position: center;
    background-repeat: no-repeat;
      flex: 1 20px;
  padding-top: 30px;
  color: white;
    text-align: center;
  background-color: white;
  color: black;
}

.coyote {
  background-image: url("https://www.pngarts.com/files/16/Coyote-Transparent.png");
   background-size: contain;
  background-position: center;
    background-repeat: no-repeat;
      flex: 1 20px;
  padding-top: 30px;
  color: white;
    text-align: center;
  background-color: #72757e;
}

.moth {
  background-image: url("https://d2bzx2vuetkzse.cloudfront.net/fit-in/0x450/unshoppable_producs/611495a9-2229-4148-8f78-73c4e8da5c02.png");
     background-size: contain;
  background-position: center;
    background-repeat: no-repeat;
      flex: 1 20px;
  padding-top: 30px;
  color: white;
    text-align: center;
}

.owl {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/59a6349b-7a40-4af2-bf9a-3a13ddf42093/dcjn2g4-7d1a4042-372e-41ed-a77b-09f802c0e341.png/v1/fill/w_900,h_1278/owl_on_a_transparent_background__by_zoostock_dcjn2g4-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi81OWE2MzQ5Yi03YTQwLTRhZjItYmY5YS0zYTEzZGRmNDIwOTMvZGNqbjJnNC03ZDFhNDA0Mi0zNzJlLTQxZWQtYTc3Yi0wOWY4MDJjMGUzNDEucG5nIiwiaGVpZ2h0IjoiPD0xMjc4Iiwid2lkdGgiOiI8PTkwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS53YXRlcm1hcmsiXSwid21rIjp7InBhdGgiOiIvd20vNTlhNjM0OWItN2E0MC00YWYyLWJmOWEtM2ExM2RkZjQyMDkzL3pvb3N0b2NrLTQucG5nIiwib3BhY2l0eSI6OTUsInByb3BvcnRpb25zIjowLjQ1LCJncmF2aXR5IjoiY2VudGVyIn19.QwlciLMGz3ZiQTMxIFQ6ORhQFupcfDHkWVXKUlY6BqY");
     background-size: contain;
  background-position: center;
    background-repeat: no-repeat;
      flex: 1 20px;
  padding-top: 30px;
  color: white;
    text-align: center;
    background-color: #72757e;
}

.projects {
  display: flex;
  justify-content: space-between;
}

.work h2 {
  text-align: right;
}

.container {
  width: 100%;
}

.image {
  height: 275px;
}

.container p {
  font-size: 32px;
  font-style: italic;
  color: #fffffe;
  position: relative;
  top: -45px;
  height: 15%;
}

.first{
  background-image: url("https://t4.ftcdn.net/jpg/02/96/21/41/360_F_296214127_8uC9vS6ig4gbaaKSQ9vLi6dYL7l9pmSo.jpg");
}

.second{
  background-image: url("https://plunketts.net/uploads/permanent/7d422866a26a205fb266d68af2e63165.jpg");
    background-size: contain;
}

.third{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/31/Night_Photography.jpg");
     background-size: contain;
}

footer {
  width: 100%;
  height: 300px;
  background-color: #7f5af0;
  color: white;
  margin-top: 80px;
  padding-top: 50px;
}

footer a {
  color: white;
  text-decoration: none;
  display: inline-block;
  height: 50px;
}

footer a:hover {
  color: #2cb67d;
  text-decoration: underline;
}

.content {
  width: 75vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.links {
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fbutton {
  font-size: 12px;
 padding: 12px 6px;
  border-radius: 1.5rem;
  color: black;
  background: white;
   display: flex;  
}

copyright {
  font-size: 16px;
  text-align: right;
  color: lightgrey;
  display: flex;
}
